<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/1/favicon.ico" type="image/x-icon">

    <title><%= statecode2 %> chat</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/chat-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>
    <style>
        .nl {
            max-width: 60%;
        }
        .messages {
            height: 70vh;
            overflow-y: scroll;
        }
    </style>
    <script async defer data-website-id="58dce5f5-c238-4e98-b2c6-e701c258f01d" src="https://using-umami.herokuapp.com/umami.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/<%= statecode2 %>">
        Home
    </a>
    </nav>

    <div class="d-flex" id="wrapper" style="padding-top: 55px;">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <%# var total_num_unread_msg = oldunreadchats.filter((value, index, array) => { return value.message_to == statecode2 && value.message_sent == 0 }).length ; %>
            <div class="sidebar-heading">
                <div class="align-items-center">
                    Contacts
                    <span id="totalunreadmsg" class="float-right badge badge-secondary badge-pill"><%= (total_num_unread_msg > 0 ? total_num_unread_msg : '') %></span>
                </div>
            </div>

            <!-- maybe put a search box here, clone whatsapp -->
            <div class="list-group list-group-flush" style="height: 91vh;overflow-y: scroll;">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <!-- <a hidden class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a> -->

                    <% try { %>
                    <%# oldchats is an ARRAY of objects %>
                    <% if (oldchats || oldunreadchats) { // select UNIQUE statecodes [message_to and message_from] from oldchats, later order them by most recent time %>
                    <%# // https://codeburst.io/javascript-array-distinct-5edc93501dc4 %>

                    <% var neww = [...new Set(oldchats.map(x => x.message_to))].concat([...new Set(oldchats.map(x => x.message_from))]) %>
                    <% var newwer = [...new Set(neww)]; %>

                    <% var _newwunread = [...new Set(oldunreadchats.map(x => x.message_to))].concat([...new Set(oldunreadchats.map(x => x.message_from))]) %>
                    <% var newwunread = [...new Set(_newwunread)]; %>

                    <% newwer.splice(newwer.indexOf(statecode2), 1) // if owner's statecode is in newwer, remove it, we don't need it, we really don't. in fact, we should not have it %>

                    <% newwunread.splice(newwunread.indexOf(statecode2), 1) // if owner's statecode is in newwer, remove it, we don't need it %>
                    <% // console.log('>>>>>>>neww', neww, '\n\n\n\n newwer=', newwer, '\n\n\n\n newwunread=', newwunread)  %>
                    <% try { %>
                    <% // console.log(oldchats, '\n\n\n\n\n-',newchat,newwer,  ! newwer.includes(newchat.statecode))  %>
                    <% if (newchat) { %>
                    <%# check if newchat is in newwer, if it isnt, output this next lines of code--  if it is, make it the first item of the array %>
                    <a hidden class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false">Home</a>

                    <a data-statecode="<%= newchat.statecode %>" class="nav-link active list-group-item list-group-item-action" id="v-pills-<%= newchat.statecode.replace(/\//g, '-') %>-tab" data-toggle="pill" href="#v-pills-<%= newchat.statecode.replace(/\//g, '-') %>" role="tab" aria-controls="v-pills-<%= newchat.statecode.replace(/\//g, '-') %>" aria-selected="true">
                        <div><%= `${newchat.name.lastname} ${newchat.name.firstname}` %></div>
                        <% // console.log('the newchat', newchat) %>
                        <div>
                            <small class="text-muted"><%= newchat.statecode %></small>
                            <span class="float-right badge badge-secondary badge-pill"></span>
                        </div>
                    </a>
                    <% } else { %>
                    <% // console.log('there is new chat') %>
                    <a hidden class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
                    <% } %>
                    <% } catch(error) { %>
                    <!-- <a hidden class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a> -->
                    <% // console.log('err 01', error); %>
                    <% } %>

                    <% for (newweri = 0; newweri < newwer.length; newweri++) { %>
                    <%#  %>
                    <%  if ( newchat && newwer[newweri] == newchat.statecode ) { %>
                    <% // console.log('skipping newchat ...we already outputted it'); %>
                    <% continue; // if newchat is in newwer, skip it, we already outputted it up %>
                    <% } %>
                    <%# if an unread message is part of the old message, color the tab orange  %>
                    <a data-statecode="<%= newwer[newweri] %>" class="<%= ( newwunread.includes(newwer[newweri]) ? 'bg-warning' : '' ) %> nav-link list-group-item list-group-item-action old" id="v-pills-<%= newwer[newweri].replace(/\//g, '-') %>-tab" data-toggle="pill" href="#v-pills-<%= newwer[newweri].replace(/\//g, '-') %>" role="tab" aria-controls="v-pills-<%= newwer[newweri].replace(/\//g, '-') %>" aria-selected="false">
                        <%# get fullname from oldchats, iterate through the objects' properties %>
                        <% console.log('\noldchats===', oldchats); %>
                        <% var f = oldchats.concat(oldunreadchats).find(x => x.message_from == newwer[newweri] );  %>
                        <% console.log('\nf===', f); %>
                        <div><%= ( f ? `${f.sender_lastname} ${f.sender_firstname}` : '' ) %></div>
                        <div>
                            <small class="text-muted"><%= newwer[newweri] %></small>
                            <% var num_unread_msg = oldunreadchats.filter((value, index, array) => { return value.message_from == newwer[newweri] && value.message_to == statecode2 && value.message_sent == 0 }).length ; %>
                            <span class="float-right badge badge-secondary badge-pill"><%= (num_unread_msg > 0 ? num_unread_msg : '') %></span>
                        </div>

                    </a>

                    <% } %>
                    <% } %>
                    <% } catch (error) { %>
                    <% console.log('err 02:', error); %>
                    <%# here prints if the chat opens with nobody %>
                    <% } %>

                    <!-- for the test tabs -->
                    <!-- <a data-statecode="AB/17A/3457" class="nav-link list-group-item list-group-item-action" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <div>Full Name</div>
                        <div>
                            <small class="text-muted">AB/17B/3456</small> <span class="float-right badge badge-secondary badge-pill">5</span>
                        </div>
                    </a>

                    <a class="nav-link list-group-item list-group-item-action" id="v-pills-AB-17B-1214-tab" data-toggle="pill" href="#v-pills-AB-17B-1214" role="tab" aria-controls="v-pills-AB-17B-1214" aria-selected="false">Messages</a>

                    <a class="nav-link list-group-item list-group-item-action" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a> -->

                </div>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-light bg-light sticky-top">
                <button class="btn btn-primary" id="menu-toggle">
                    <!-- small screens, chat shows, large screens, chats doesn't show  -->
                    <!-- Visible only on xs, sm -->
                    <div id="a" class="d-block d-sm-none  d-none d-sm-block d-md-none"><i class="fas fa-chevron-left"></i>
                        Chats</div>

                    <!-- large screens, x shows, small screens x doesn't show  -->
                    <!-- Visible only on md, lg, xl -->
                    <div id="b" class="d-none d-md-block d-lg-none  leftnone d-lg-block d-xl-none  leftnone d-xl-block"><i class="fas fa-times"></i></div>
                </button>

                <div class="d-none d-sm-block" id="notifications">
                    <!-- maybe some/all notifications show here -->
                </div>
                <!-- only on big screens -->

                <!-- <div class="dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Block user</a>
                        <a class="dropdown-item" href="#">Pay for item [escrow]</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Close deal, or verify goods</a>
                    </div>
                </div> -->
            </nav>

            <div class="container-fluid">

                <!-- <p>The starting state of the menu will appear collapsed on smaller screens, and will appear
            non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
          <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.
            The top navbar is optional, and just for demonstration. Just create an element with the
            <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p> -->
                <div class="tab-content" id="v-pills-tabContent">
                    <!-- <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                        <div class="text-center mt-5 align-middle">
                            <div class="">
                                <img src="assets/images/chat/undraw_chat_1wo5.png" alt="chat icon" width="250" height="250" srcset="assets/images/chat/undraw_chat_1wo5.svg" class="rounded">
                            </div>

                            <h5 class="font-weight-light">
                                Corpers who have chatted you up show here.
                            </h5>
                        </div>

                    </div> -->
                    <%# the socket will be in every unread message group. so we would loop the unread message array inside the neww for loop, so if the message is in unread we color it and count it. and maybe even demacate it... then we arrange it ||| we also need to arrange the sidebar tab %>

                    <% try { %>
                    <% // console.log('err88---888 03', newchat); %>
                    <%# if there is newchat, it either is in newwer or it isn't so we only need to check if newchat is in newwer, if it isnt, output this next lines of code-- that means if it exists, it is in newwer %>
                    <% if (newchat) { // %>
                    <% console.log('err88888888 03', newchat); %>
                    <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">


                        <div class="text-center mt-5 align-middle">
                            <div class="">
                                <img src="assets/images/chat/undraw_chat_1wo5.png" alt="chat icon" width="250" height="250" srcset="assets/images/chat/undraw_chat_1wo5.svg" class="rounded">
                            </div>

                            <h5 class="font-weight-light">
                                Your chats show up here.
                            </h5>
                        </div>

                    </div>

                    <% if ( newwer.length == 0 || !newwer.includes(newchat.statecode)) { // for when they open up a new chat and if they've never chatted before // i.e. this guy has no old chat AT ALL they possibly couldn't have chatted before %>
                    <div class="tab-pane fade show active" id="v-pills-<%= newchat.statecode.replace(/\//g, '-') %>" role="tabpanel" aria-labelledby="v-pills-<%= newchat.statecode.replace(/\//g, '-') %>-tab">
                        <h6><%= newchat.statecode %></h6>
                        <div class="wall">
                            Start your first message with <%= newchat.statecode %>
                            <div class="messages">

                            </div>

                            <div class="chatbox insidewall">
                                <!-- the chat box will be inside every user's wall, help us save drafts and be more particular -->
                                <!-- append before the new tab is shown -->
                                <!-- <div class="row">
                                    
                                    <div class="col-10">
                                        <textarea class="form-control text" sc="<%= newchat.statecode.replace(/\//g, '-') %>" rows="3"></textarea>
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-primary send" sc="<%= newchat.statecode.replace(/\//g, '-') %>" disabled='true'>Send</button>
                                    </div>
                                </div> -->
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control text" spellcheck="true" placeholder="Type a message" sc="<%= statecode.replace(/\//g, '-') %>" aria-label="Message box" aria-describedby="textbox">
                                    <div class="input-group-append">
                                      <button class="btn btn-outline-secondary send" type="button" sc="<%= statecode.replace(/\//g, '-') %>">Send</button>
                                    </div>
                                  </div>
                            </div>

                        </div>
                    </div>
                    <% } %>

                    <% } else { %>
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                        <div class="text-center mt-5 align-middle">
                            <div class="">
                                <img src="assets/images/chat/undraw_chat_1wo5.png" alt="chat icon" width="250" height="250" srcset="assets/images/chat/undraw_chat_1wo5.svg" class="rounded">
                            </div>

                            <h5 class="font-weight-light">
                                Your chats show up here.
                            </h5>
                        </div>

                    </div>
                    <% } %>
                    <% } catch (error) { // if there is no newchat, this is what happens %>
                    <%#  %>

                    <% console.log('err 03', error); %>
                    <% } %>
                    <!--end new chats -->

                    <!-- old chats [the chatting tab]  -->
                    <% if (newwer) { // if there are old chats [newwer] // if there is no new chat, we don't need to check if it is in newwer %>
                    <%# console.log('\n\n\t newwer=', newwer); %>
                    <% for (index = 0; index < newwer.length; index++) { %>
                    <%# if newchat is in newwer, then show the tab, make it's class to contain "show active" and aria-selected=true %>
                    <div class="tab-pane fade <%= ( newchat && newwer[index] == newchat.statecode ? 'show active' : '' )  %> " id="v-pills-<%= newwer[index].replace(/\//g, '-') %>" role="tabpanel" aria-labelledby="v-pills-<%= newwer[index].replace(/\//g, '-') %>-tab">
                        <h6><%= newwer[index] %>'s wall</h6>
                        <div class="wall">
                            <div class="messages">
                                <%# append the old chat messages here %>
                                <% oldchats = oldchats.sort( (a, b) => (a.time > b.time) ? 1 : -1 ) // don't change // https://flaviocopes.com/how-to-sort-array-of-objects-by-property-javascript/ %>
                                <%# the appending %>
                                <%# /**
                                    * within the wall, sort oldchats according to oldchat[index].time or _time
                                    * then loop through oldchats
                                    * if the newwer[index] is contained in the oldchat[index].room == true && oldchat[index].message_from == newwer[index] == true, append to the RIGHT [i.e. they sent the message]
                                    * 
                                    * if the newwer[index] is contained in the oldchat[index].room == true && oldchat[index].message_to newwer[index] == true, append to the LEFT [i.e they received the message]
                                    */ %>

                                <% for (ocindex = 0; ocindex < oldchats.length; ocindex++) { %>

                                <% if ( oldchats[ocindex].room.includes( newwer[index] ) && oldchats[ocindex].message_to == newwer[index] && oldchats[ocindex].message_from == statecode2) { // append to right %>
                                <div class="pl-5">
                                    <div class="card mb-2">
                                        <div class="card-body">
                                            <div class="float-right"><%= oldchats[ocindex].message %></div>
                                        </div>
                                        <div class="text-right small p-2 bg-dark text-muted">
                                            <%= new Date(oldchats[ocindex].time).toLocaleString("en-US") %> <span id="<%= oldchats[ocindex].time %>"></span> </div>
                                    </div>
                                </div>
                                <% } else if (oldchats[ocindex].room.includes( newwer[index] ) && oldchats[ocindex].message_to == statecode2 && oldchats[ocindex].message_from == newwer[index]) { // append to left %>
                                <div class="pr-5">
                                    <div class="card mb-2">
                                        <div class="card-body">
                                            <div class="float-left"><%= oldchats[ocindex].message %></div>
                                        </div>
                                        <div class="small p-2 bg-dark text-muted">
                                            <%= new Date(oldchats[ocindex].time).toLocaleString("en-US") %> <span id="<%= oldchats[ocindex].time %>"></span> </div>
                                    </div>
                                </div>
                                <% } %>

                                <% } %>
                            </div>


                            <div class="chatbox insidewall">
                                <!-- the chat box will be inside every user's wall, help us save drafts and be more particular -->
                                <!-- append before the new tab is shown -->
                                <!-- <div class="row">
                                    
                                    <div class="col-10">
                                        <textarea class="form-control text" sc="<%= newwer[index].replace(/\//g, '-') %>" rows="3"></textarea>
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-primary send" sc="<%= newwer[index].replace(/\//g, '-') %>" disabled='true'>Send</button>
                                    </div>
                                </div> -->
                                <div class="input-group mb-3 mt-3">
                                    <input type="text" class="form-control text" spellcheck="true" sc="<%= newwer[index].replace(/\//g, '-') %>" placeholder="Type a message" aria-label="Message box" aria-describedby="textbox">
                                    <div class="input-group-append">
                                      <button class="btn btn-outline-secondary send" type="button" sc="<%= newwer[index].replace(/\//g, '-') %>">Send</button>
                                    </div>
                                  </div>
                            </div>

                        </div>
                    </div>

                    <% } %>

                    <% } %>
                    <!-- end old chats -->

                    <!-- test tabs -->
                    <!-- <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <p>
                            profile tab
                        </p>

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora nobis necessitatibus
                        molestias! Nisi
                        labore, a eaque, dolorem molestias, optio ratione soluta mollitia deserunt id consequatur
                        explicabo
                        quisquam totam officiis sapiente!
                        <div class="wall">

                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-AB-17B-1214" role="tabpanel" aria-labelledby="v-pills-AB-17B-1214-tab">
                        <h6>messages</h6>

                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque cum quas corporis totam
                        quasi eius, porro vitae iusto laudantium commodi velit illo alias repudiandae similique
                        praesentium enim
                        necessitatibus aperiam reprehenderit!

                        <div class="wall">

                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <h6>settings ?!??!?! we need sth bettr</h6>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga nobis vel dolore error, quam
                        esse
                        ratione tempore sed, sapiente earum nisi eveniet cum asperiores voluptatibus impedit
                        molestiae molestias
                        sint hic.

                        <div class="wall">

                        </div>
                    </div> -->


                </div>
                <!-- chat box was formerly here -->
            </div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="assets/js/jquery-3.3.1.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- <script src="assets/js/bootstrap.bundle.min.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

    <!-- Menu Toggle Script -->
    <script>
        $( "#menu-toggle" )
            .click( function( e ) {
                e.preventDefault();
                $( "#wrapper" )
                    .toggleClass( "toggled" );

                // now swap classes, make a now visible on md, lg, and xl but hidden on xs and sm
                $( "#a" )
                    .toggleClass( "d-none d-md-block d-lg-none  d-lg-block d-xl-none  d-xl-block d-block d-sm-none  d-none d-sm-block d-md-none  " ); // d-sm-block d-sm-block d-md-none d-lg-none d-xl-block
                // make b hidden on md, lg, xl but visible on xs and sm
                $( "#b" )
                    .toggleClass( "d-none d-md-block d-lg-none  d-lg-block d-xl-none  d-xl-block d-block d-sm-none  d-none d-sm-block d-md-none" ); // d-none d-sm-none d-md-block d-lg-block d-xl-block
            } );
    </script>

    <!-- the room you join is unique with the person you're chatting with, it's made up of the unique ids of both parties -->

    <script>
        var chat = io.connect( '/chat', {
            transports: [ 'websocket' ],
            query: {
                from: '<%= statecode2 %>' // new URLSearchParams( window.location.search ).get( 's' ) // '<%= statecode %>' // might change <%= statecode %>, because if tabs are open from the same browser, it's value is thesame on both tabs from the backend
            }
        } );
        var k = {
            to: ( new URLSearchParams( window.location.search )
                .get( 'posts[who]' ) != null ? new URLSearchParams( window.location.search )
                .get( 'posts[who]' )
                .toUpperCase() : '' )
        }
        
        console.log( 'chat socket', chat );
        var inputtextarea = document.getElementsByClassName( 'text' );
        var send = document.getElementsByClassName( 'send' ); // document.getElementById( 'send' );
        var notify = document.getElementById( 'notifications' );

        chat.on('connect', function() { // get fallback from davidwalsh's blog if URLSearchParams isn't in browser
            chat.emit('hi', 'replace with something useful, like notifying the other user that they are online' );
            chat.emit('ferret', 'aeee', 'tobi', ( data ) => {
                // this funtion will run here to show the server has gotten our message.
                console.log( data ); // data will be 'woot ...'
            });
            chat.emit('room', 'rofsddsfaom' );
        } );

        //-----
        chat.on('a message', function( data ) { // when we receive 'a message'
            console.log(data);
            chat.emit('my other event', {
                my: 'data-chat'
            }); // send 'my other event' to everyone in /chat
        });

        chat.on('hi', function(data) { // when we receive 'a message'
            console.log(data);
        });

        chat.on('oldmessages', function(data) { //
            console.log(data);
        });


        chat.on('message', function(data) { //when we receive a boardcast message
            console.log('we received message!',data ); // add text-right later and text-center later

            // if the sender has messaged before and is present
            var thetab = $(`#v-pills-tab > a[data-statecode="${data.from.statecode}"]`);
            if (thetab.length == 1) {
                if (!thetab.hasClass('active')) { // check if it isn't the present open tab
                    // select the innerHTML of span and incremnent if there is a number
                    // if it was there before, just move it --not clone
                    var num_msg = $(`#v-pills-tab > a[data-statecode="${data.from.statecode}"] span`);
                    if (!num_msg.html() == '' ) { // if it is not empty, i.e. there was a number there, there's been unread messages
                        var c = parseInt(num_msg.html());
                        num_msg.html(c + 1); // increase the number of unread messages by one
                    } else { // i.e. no new messages before, make it one
                        num_msg.html(1);
                    }
                    // increment the total number of unread messages
                    var total_num_unread_msg = $( "#totalunreadmsg" );
                    if ( !total_num_unread_msg.html() == '' ) { // if it is not empty, i.e. there was a number there, there's been unread messages
                        var c = parseInt( total_num_unread_msg.html() );
                        total_num_unread_msg.html( c + 1 ); //
                    } else { //
                        total_num_unread_msg.html( 1 );
                    }

                    $( `#v-pills-tab > a[data-statecode="${data.from.statecode}"]` )
                        .insertBefore( '#v-pills-tab > a:nth-child(2)' );
                }
            } else { // if it wasn't there before, create it!!!!!!!!!
                //if this sender hasn't messaged before, append his/her name to the side bar, at the top [2nd] and also their chatting tab
                //& since the person hasn't messaged before, the number of unread message is one

                // get the innerHTML of the span class, parse to number and increment
                // https://davidwalsh.name/javascript-replace
                var d = `<a data-statecode="${data.from.statecode}" class="nav-link list-group-item list-group-item-action bg-warning new" id="v-pills-${data.from.statecode.replace(/\//g, '-')}-tab" data-toggle="pill" href="#v-pills-${data.from.statecode.replace(/\//g, '-')}" role="tab" aria-controls="v-pills-${data.from.statecode.replace(/\//g, '-')}" aria-selected="false">
                        <div>${data.from.lastname} ${data.from.firstname}</div>
                        <div>
                        <small class="text-muted">${data.from.statecode}</small>
                        <span class="float-right badge badge-secondary badge-pill">1</span>
                        </div>
                    </a>`;

                $( d ).insertBefore( '#v-pills-tab > a:nth-child(2)' );

                // the chatting tab
                $( `<div class="tab-pane fade" id="v-pills-${data.from.statecode.replace(/\//g, '-')}" role="tabpanel"
                            aria-labelledby="v-pills-${data.from.statecode.replace(/\//g, '-')}-tab">
                            <h6>${data.from.statecode}</h6>
                            <div class="wall">
                                <div class="messages">

                                </div>
                            </div>
                        </div>` ).insertBefore( '#v-pills-tabContent > div:nth-child(2)' );
            }

            // add the .bg-warning class to the sidebar tab of the [receiving] account [if it isn't the active tab] to show there's a new message
            if ( !$( `#v-pills-tab > a[data-statecode="${data.from.statecode}"]` )
                .hasClass( 'active' ) ) {
                $( `#v-pills-tab > a[data-statecode="${data.from.statecode}"]` )
                    .addClass( "bg-warning" );
            }

            // append the message to the account's wall
            $( `#v-pills-${data.from.statecode.replace(/\//g, '-')} > .wall > .messages` )
                .append( `<div class="pr-5"><div class="card mb-2"><div class="card-body">
                  <div class="float-left">${data.it.message}</div>
                  </div><div class="small p-2 bg-dark text-muted">
                  ${new Date(data.it.time).toLocaleTimeString()} <span id="${data.it.time}"></span> </div></div></div>` )
        } ); // new Date(Date.now()).toLocaleTimeString() ---- then if not today new Date(Date.now()).toLocaleString() ---maybe    [new Date(Date.now()).toDateString()]

        /* inputtextarea.addEventListener( 'keypress', function() {
            chat.emit( 'typing', '<%= statecode2 %>' ); // <%= name_of_ppa %> <%= servicestate %>
        } ); */

        chat.on( 'typing', function( data ) {
            notify.innerHTML = '<em>' + data + ' is typing a message...</em>';
            setTimeout( () => {
                notify.innerHTML = 'a global variable or something that is easily coined';
            }, 1500 );
        } );

        /**
         * socket.sockets || connected
         * socket.id
         * socket.fns
         * socket.adapter.nsp.rooms
         */

        /* inputtextarea.addEventListener( 'input', function( event ) {
            if ( inputtextarea.value === '' ) {
                send.disabled = true;
            } else {
                send.disabled = false;
            }
        }, false ); */
        document.querySelectorAll( '.text' ).forEach( text_area => {
            text_area.addEventListener( 'input', function( event ) {
            if ( text_area.value === '' ) {
                document.querySelector( `button[sc='${event.srcElement.attributes['sc'].value}']` ).disabled = true;
            } else {
                document.querySelector( `button[sc='${event.srcElement.attributes['sc'].value}']` ).disabled = false;
            }
        }, false );
        } )

        document.querySelectorAll( '.send' ).forEach( item => {
                item.addEventListener( 'click', event => {
                    //handle click
                    console.log( 'event', event, event.srcElement.attributes[ 'sc' ].value );
                    console.log( 'h', document.querySelector( `input[sc='${event.srcElement.attributes['sc'].value}']` ) )
                    // an alternative to using document.querySelector to long chain from event to the inputtextarea.value attribute and clear it// event.srcElement.parentElement.offsetParent.parentElement.children[0].lastElementChild.value

                    k.message = document.querySelector( `input[sc='${event.srcElement.attributes['sc'].value}']` ).value, //inputtextarea.value,
                        k.time = Date.now();
                    chat.emit( 'message', k, ( data ) => {
                        // this funtion will run here to show the server has gotten our message.
                        // this message means this corper sent the message, so pad the msg box from the left
                        console.log( 'g', data ); // data will be 'true, msg'
                        $( `#v-pills-${data.to.statecode.replace(/\//g, '-')} > .wall > .messages` ) // data.to... because we're appending to the receipient's wall/timeline in this corper's page
                            .append( `<div class="pl-5"><div class="card mb-2"><div class="card-body">
                  <div class="float-right">${data.it.message}</div>
                  </div><div class="text-right small p-2 bg-dark text-muted">
                  ${new Date(data.it.time).toLocaleTimeString()} <span id="${data.it.time}"></span> </div></div></div>` )
                    } );

                    document.querySelector( `input[sc='${event.srcElement.attributes['sc'].value}']` ).value = ''; // inputtextarea.value = '';

                }, false )
            });

        /* send.addEventListener( 'click', function( event ) {
            console.log( 'event', event );
            // when we send a message, we append it to the timeline, and when the server says it's gotten the message, we tag it as delivered. and if we get a connection from the corper to this particular room and the message has been in the viewport, we mark it as read

            // we set the chat.query.to attribute here.
            k.message = inputtextarea.value,
                k.time = Date.now()

            chat.emit( 'message', k, ( data ) => {
                // this funtion will run here to show the server has gotten our message.
                // this message means this corper sent the message, so pad the msg box from the left
                console.log( 'g', data ); // data will be 'true, msg'
                $( `#v-pills-${data.to.statecode.replace(/\//g, '-')} > .wall > .messages` ) // data.to... because we're appending to the receipient's wall/timeline in this corper's page
                    .append( `<div class="pl-5"><div class="card mb-2"><div class="card-body">
                  <div class="float-right">${data.it.message}</div>
                  </div><div class="text-right small p-2 bg-dark text-muted">
                  ${new Date(data.it.time).toLocaleTimeString()} <span id="${data.it.time}"></span> </div></div></div>` )
            } );
            inputtextarea.value = '';
        }, false ); */


        ///////////////////////////////////////////////////////////////////////////////////////////////////////
        // socket.disconnect(close)
        // -----close (Boolean) whether to close the underlying connection
        // -----Returns Socket
        /* io.on( 'connection', ( socket ) => {
            setTimeout( () => socket.disconnect( true ), 5000 ); // Disconnects this client. If value of close is true, closes the underlying connection. Otherwise, it just disconnects the namespace.
        } ); */

        // Event: 'disconnecting'
        // reason (String) the reason of the disconnection (either client or server-side)
        // Fired when the client is going to be disconnected (but hasn't left its rooms yet).

        /* io.on( 'connection', ( socket ) => {
            socket.on( 'disconnecting', ( reason ) => {
                let rooms = Object.keys( socket.rooms );
                // ...
            } );
        } ); */
    </script>
    <script>
        $( '#v-pills-tab' )
            .on( 'show.bs.tab', function(
                e ) { // This event fires on tab show, but before the new tab has been shown
                // console.log( 'show e.target', e.target ) // newly activated tab
                // console.log( 'show e.relatedTarget', e.relatedTarget ) // previous active tab
            } )

        $( '#v-pills-tab' )
            .on( 'shown.bs.tab', function( e ) { // This event fires on tab show after a tab has been shown
                // console.log( 'shown e.target', e.target ) // newly activated tab
                // console.log( 'shown e.relatedTarget', e.relatedTarget ) // previous active tab

                /**
                 * if the newly activeted tab has bg-warning, it hasn't been read, so when we click it, we record that the new messages has been read
                 * 
                 * now how do we know the number of messages that hasn't be read, and how the we calculate when these messages are now read
                 * 
                 * every message on creation, is decleared unread, 
                 * but when [GOES WIHTOUT SAYING: the recipient is online and] the sender's tab on the recipient's machine has been clicked, then those messages are now read
                 * 
                 * so we check the recipient's and senders statecode for every tab opened to view messages, and the set of messages unread on that tab is now marked as read.
                 * 
                 * also we need to be able to count the number of unread messages so we can display on account.ejs and even here to. we keep count of every incoming messages first...
                 */

                // gave errors for days, you can't change query parameters from chat object after connection, unless you reconnect https://github.com/socketio/socket.io/issues/1677
                k.to = e.target.attributes[ 'data-statecode' ].value;

                // if class .bg-warning is present, remove it
                if ( $( e.target )
                    .hasClass( "bg-warning" ) ) {
                    $( e.target )
                        .removeClass( "bg-warning" ) // could be "bg-warning bg-info" i.e multiple classes
                }


                // if this tab has unread messages, subtract from the total number of unread messages
                var total_num_unread_msg = $( "#totalunreadmsg" );

                if ( !total_num_unread_msg.html() == '' ) { // if it is not empty, i.e. there was a number there, there's been unread messages
                    var c = parseInt( total_num_unread_msg.html() );
                    var remove = parseInt( ( e.target.children[ 1 ].children[ 1 ].innerText == '' ? 0 : e.target.children[ 1 ].children[ 1 ].innerText ) );
                    console.log( 'total messages', e.target.children[ 1 ].children[ 1 ].innerText, c - remove )
                    total_num_unread_msg.html( ( c - remove == 0 ? '' : c - remove ) ); // if it'll be zero, show nothing
                } else { //
                    // total_num_unread_msg.html( 1 );
                }

                // also remove number of unread messages once the chat is opened // use namedItem() instead not [1]
                console.log( e.target.children, '89', e.target.children[ 1 ].children[ 1 ].innerText )
                e.target.children[ 1 ].children[ 1 ].innerText = '';

                // if unread messages, emit that the messages have been read!!
                // chat.emit( 'read', {message_from: e.target.attributes[ 'data-statecode' ].value, message_to: '<%= statecode2 %>'} ); // when it gets to them if they are online, put double ticks
                chat.emit( 'read', {
                    message_from: e.target.attributes[ 'data-statecode' ].value,
                    message_to: '<%= statecode2 %>'
                }, ( data ) => {
                    // this funtion will run here to show the server has gotten our message.
                    console.log( 'was just read', data ); // data will be 'woot ...' // then double tick
                } );
                // for a scenerio where you click the chat icon from account page... what if your new chat has sent you an unread message before? does the number of unread message show? i think yes... is this shown event run, to sh0w that the message has been read ?... maybe, find out! ---did, answer is no ...what we can do now it to check if the new chat is in the oldunread array and maybe put a settimeout function to remove the number of unread messages the tab is in the user's view, i.e. the user has seen it
            } )

        $( '#v-pills-tab' )
            .on( 'hide.bs.tab', function(
                e ) { // This event fires when a new tab is to be shown (and thus the previous active tab is to be hidden)
                // console.log('hide e.target', e.target) // the current active tab
                // console.log('hide e.relatedTarget', e.relatedTarget) // new soon-to-be-active tab
            } )

        $( '#v-pills-tab' )
            .on( 'hidden.bs.tab', function(
                e ) { // This event fires after a new tab is shown (and thus the previous active tab is hidden)
                // console.log('hidden e.target', e.target) // previous active tab
                // console.log('hidden e.relatedTarget', e.relatedTarget) //  new active tab
            } )
    </script>
</body>

</html>