<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Corpers Online - Find PPAs, Accommodations, and other places</title><!-- Where? What? When? -->

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="jumbotron.css" rel="stylesheet"> -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>

    <!--Leaflet Routing Machine is easy.--------------- -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>


    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js" integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g==" crossorigin=""></script>

    <!--jquery-->
    <script src="jquery-3.3.1.min.js"></script>
    <script src="bootstrap.min.js"></script>

    
    <style>
        .section-one.item{
            /* background: linear-gradient(#93323200, #44151500), url('../logo/new/logo.png'); */

            background-size: 80%;
            background-image: url('../logo/new/logo.png');
            background-position: 50% 50%;
            background-repeat: no-repeat;

            /* filter: blur(8px);
            -webkit-filter: blur(8px);
            transform: scale(1.1); */
        }

        body {
            font-family: arial, helvetica;
        }

        @media (min-width: 576px) {

            .collapse > .card-body {
                height: calc(100vh - 140px); /* formerly 65vh; *//*todo, find a defininte value for this (for all screen height or sth) so we don't make the browser calculate the value every time an accordion is expanded */
                overflow-y: scroll;
            }

            .parent {
                grid-template-columns: 2fr 3fr; /* formerly 2fr 3fr;  */
                padding: 5px;
            }

            .item:nth-child(1) {
                order: -1;
            }

            .item:nth-child(2) {
                order: 1;
            }

        }

        .parent {
            display: grid;

            /* justify-content: center; */

            grid-column-gap: 20px;
            height: 100vh;
        }

        .shw {
            max-width: 100%;
            height: auto;
        }

        @media (max-width: 576px) {
            .parent {
                grid-template-rows: 2fr auto; /* formerly 2fr 3fr;  */
            }

            .item:nth-child(1) {
                order: 1;
                padding: 5px;
            }

            .item:nth-child(2) {
                order: -1;
            }

            .wrapper {
                display: grid;
                grid-gap: 10px;
                grid-template-columns: 85%;
                grid-auto-flow: column;
                grid-auto-columns: 85%;
                width: -moz-available;
                overflow-x: scroll;
            }
        }
        #hide {
            display: none;
        }
    </style>

</head>

<body>

    <main role="main">
        <div class="parent">
            <div class="section-one item">
                <div class="thelist" id="tl">
                    <div class="" id="accordionExample">
                            <% if ( ppas.length > 0 ) { // for when they open up a new chat and if they've never chatted before // i.e. this guy has no old chat AT ALL they possibly couldn't have chatted before %>
                            <div class="card">
                                    <div class="card-header" id="headingPPAs">
                                        <h5 class="mb-0"><%#= ( ppas.length > 1 ? 'true' : 'false' ) // what if one or all the sections are empty, then how do we handle which is expanded first %>
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsePPAs" aria-expanded="true" aria-controls="collapsePPAs">
                                                PPAs
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapsePPAs" class="collapse show" aria-labelledby="headingPPAs" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="wrapper"><!-- removed class 'd-none d-lg-block' from images -->
                                                <% if ( theppa != undefined ) { // %>
                                                    
                                                    <% var containsPPA = ppas.filter((value, index, array) => { return value.name_of_ppa == theppa[0].name_of_ppa && value.ppa_address == theppa[0].ppa_address }) ; %>
                                                    <% if ( containsPPA.lenght > 0 ) { // %>
                                                        <%= "it's in it" %>
                                                    <% } %>

                                                <% } %>
                                                

                                            <% for (i = 0; i < ppas.length; i++) { %>
                                                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                                        <div class="card-body d-flex flex-column align-items-start hover">
                                                            <strong class="d-inline-block mb-2 text-primary"><%= ppas[i].type_of_ppa %></strong>
                                                            <h3 class="mb-0">
                                                                <a class="text-dark" href="#!"><%= ppas[i].name_of_ppa %></a>
                                                            </h3>
                                                            <div class="mb-1 text-muted"><%= ppas[i].ppa_address %></div>
                                                            <p class="card-text mb-auto"><%= ppas[i].ppa_directions %></p>
                                                            <a href="#!">Continue reading</a>
                                                        </div>
                                                        <img id="hide" class="card-img-right flex-auto  shw" src="1000x1000.png" data-holder-rendered="true">
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } else { %>
                                <a>There's nothing for now. Check back later and you can also add a PPA.</a>
                            <% } %> %>
                            

                            <% if ( accommodations.length > 0 ) { // for when they open up a new chat and if they've never chatted before // i.e. this guy has no old chat AT ALL they possibly couldn't have chatted before %>
                            <div class="card">
                                    <div class="card-header" id="headingAccommodations">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAccommodations" aria-expanded="false" aria-controls="collapseAccommodations">
                                                Accommodations
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseAccommodations" class="collapse" aria-labelledby="headingAccommodations" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="wrapper"><!-- removed class 'd-none d-lg-block' from images -->

                                    <% for (i = 0; i < accommodations.length; i++) { %>

                                        <%# '{"type":"Feature","properties":{"geo":{}},"geometry":{"type":"Point","coordinates":[3.3792057,6.5243793]}}' %>
                                        
                                
                                                
                                                
                                        <div class="card flex-md-row mb-4 box-shadow h-md-250" >
                                                
                                            <% if ( accommodations[i].acc_geodata != '' ) { %>
                                                <% var acc_geo = JSON.parse(accommodations[i].acc_geodata); %>
                                                    <div data-lat="<%= acc_geo.geometry.coordinates[1] %>" data-lng="<%= acc_geo.geometry.coordinates[0] %>" ></div>
                                                <% } %>

                                            <div class="card-body d-flex flex-column align-items-start hover">
                                                    <strong class="d-inline-block mb-2 text-primary"><%= accommodations[i].type %></strong>
                                                    <h3 class="mb-0">
                                                        <a class="text-dark" href="#!"><%= accommodations[i].address %></a>
                                                    </h3>
                                                    <% var therooms = accommodations[i].rooms.split(','); %>
                                                    <%= therooms %>
                                                    <div class="mb-1 text-muted">with <%= therooms.toString().replace(/,/g, ', ').replace(', ' + therooms[therooms.length - 1], ', and ' + therooms[therooms.length - 1]) %></div>
                                                    <p class="card-text mb-auto"> &#8358;<%= accommodations[i].price%> <%= accommodations[i].rentrange %></p>

                                                    <% if ( accommodations[i].directions != ('' || null ) ) { %>
                                                        <p class="card-text mb-auto font-italic font-weight-bold" style="display: none;" id="<%= new Date(accommodations[i].input_time).getTime() %>"><%= accommodations[i].directions %></p>
                                                    <a href="#!" onclick="toggle_visibility('<%= new Date(accommodations[i].input_time).getTime() %>')">See directions</a>
                                                    <% } %>
                                                    
                                                    
                                                </div>
                                                <img id="hide" class="card-img-right flex-auto  shw" src="1000x1000.png" data-holder-rendered="true">
                                            </div>
                                        <% } %>

                                        <script>
                                            document.querySelectorAll( '.hover' )
                                                .forEach( item => {
                                                    item.addEventListener( "mouseenter", function( event ) {

                                                        // highlight the mouseenter target
                                                        event.target.style.color = "purple";
                                                        if ( event.originalTarget.previousElementSibling != null) {
                                                            console.log( 'kjj' , event.originalTarget.previousElementSibling.attributes['data-lat'].nodeValue);

                                                            // event.originalTarget.previousElementSibling.attributes['data-lat'].nodeValue // lat
                                                            // event.originalTarget.previousElementSibling.attributes['data-lng'].nodeValue // lng

                                                            // event.originalTarget.children[0].innerText; // accommodation type
                                                            // event.originalTarget.children[1].innerText; // location
                                                            // event.originalTarget.children[2].innerText; // rooms in it
                                                            // event.originalTarget.children[3].innerText; // rent price
                                                            // console.log(event.originalTarget.children[0].innerText,event.originalTarget.children[1].innerText,event.originalTarget.children[2].innerText,event.originalTarget.children[3].innerText);

                                                            var _acc_type = event.originalTarget.children[0].innerText;
                                                            var _acc_rooms = event.originalTarget.children[2].innerText;
                                                            var _acc_price = event.originalTarget.children[3].innerText;
                                                            // "latlng":{"lat":7.413782299999999,"lng":3.9155568}
                                                            var latlng = {"lat":event.originalTarget.previousElementSibling.attributes['data-lat'].nodeValue,"lng":event.originalTarget.previousElementSibling.attributes['data-lng'].nodeValue}
                                                            L.marker( latlng )
                                                                .addTo( mymap )
                                                                .bindPopup( _acc_type.bold() + '<br> <i class="text-muted">' + _acc_rooms + '</i> <br>' + ' at ' +  _acc_price )
                                                                .openPopup();
                                                            mymap.setView( latlng ); // we need to show corpers the accuracy of our marker, like show the circular range like we normally do in you're within
                                                        } 
                                                        



                                                        // reset the color after a short delay
                                                        setTimeout( function() {
                                                            event.target.style.color = "";
                                                        }, 500 );
                                                    }, false );
                                                } );
                                        </script>

                                        <script>
                                            function toggle_visibility(id) {
                                                var e = document.getElementById(id);
                                                if (e.style.display == 'block') {
                                                    e.style.display = 'none';
                                                    e.nextElementSibling.innerHTML = 'See directions';
                                                } else {
                                                    e.style.display = 'block';
                                                    e.nextElementSibling.innerHTML = 'Got it';
                                                    
                                                }
                                            }
                                        </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } else { %>
                                <a>There's nothing for now. If you have an accommodations, please consider posting it.</a>
                            <% } %> %>

                            
                            <% if ( places.length > 0 ) { // for when they open up a new chat and if they've never chatted before // i.e. this guy has no old chat AT ALL they possibly couldn't have chatted before %>
                            <div class="card">
                                    <div class="card-header" id="headingPlaces">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsePlaces" aria-expanded="false" aria-controls="collapseAccommodations">
                                                Other places
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapsePlaces" class="collapse" aria-labelledby="headingPlaces" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="wrapper"><!-- removed class 'd-none d-lg-block' from images -->

                                    <% for (i = 0; i < places.length; i++) { %>
                                        <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                                <div class="card-body d-flex flex-column align-items-start hover">
                                                    <strong class="d-inline-block mb-2 text-primary"><%= places[i].type_of_place %></strong>
                                                    <h3 class="mb-0">
                                                        <a class="text-dark" href="#!"><%= places[i].name %></a>
                                                    </h3>
                                                    <div class="mb-1 text-muted">with <%= places[i].address %></div>
                                                    <p class="card-text mb-auto"> <%= places[i].region %></p>
                                                    <a href="#!">Continue reading</a>
                                                </div>
                                                <img id="hide" class="card-img-right flex-auto  shw" src="1000x1000.png" data-holder-rendered="true">
                                            </div>
                                        <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>

                        <!-- <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Collapsible Group Item #1
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="wrapper">
                                        <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                            <div class="card-body d-flex flex-column align-items-start hover">
                                                <strong class="d-inline-block mb-2 text-primary">World</strong>
                                                <h3 class="mb-0">
                                                    <a class="text-dark" href="#!">Featured post</a>
                                                </h3>
                                                <div class="mb-1 text-muted">Nov 12</div>
                                                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="#!">Continue reading</a>
                                            </div>
                                            <img id="hide" class="card-img-right flex-auto  shw" src="1000x1000.png" data-holder-rendered="true">
                                        </div>
                                        <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                            <div class="card-body d-flex flex-column align-items-start hover">
                                                <strong class="d-inline-block mb-2 text-primary">World</strong>
                                                <h3 class="mb-0">
                                                    <a class="text-dark" href="#!">Featured post</a>
                                                </h3>
                                                <div class="mb-1 text-muted">Nov 12</div>
                                                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="#!">Continue reading</a>
                                            </div>
                                            <img id="hide" class="card-img-right flex-auto shw" alt="Thumbnail [200x250]" src="1564743287029.png" data-holder-rendered="true">
                                        </div>
                                        <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                            <div class="card-body d-flex flex-column align-items-start hover">
                                                <strong class="d-inline-block mb-2 text-primary">World</strong>
                                                <h3 class="mb-0">
                                                    <a class="text-dark" href="#!">Featured post</a>
                                                </h3>
                                                <div class="mb-1 text-muted">Nov 12</div>
                                                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="#!">Continue reading</a>
                                            </div>
                                            <img id="hide" class="card-img-right flex-auto  shw" alt="Thumbnail [200x250]" src="1564743087802.png" data-holder-rendered="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Collapsible Group Item #2
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Collapsible Group Item #3
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
    
            </div>
            <div class="section-two item" id="mapid">
    
            </div>
        </div>

        <script>
            var mymap = L.map( 'mapid', {
                    tilt: true,
                    zoomControl: false
                } )
                .setView( [ 5.5216578, 7.5066884 ], 16 );
                        // https://api.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiY2h1a3MwMDciLCJhIjoiY2psOW1iZ2x0MXRoczNycGJwdzhpOGZhbCJ9.z03GKFAu-scE70Z1JKagOg
                        var basemap = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '<a href="https://www.openstreetmap.org/">OpenStreetMap</a>, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, <a href="https://www.mapbox.com/">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox.streets',
                        accessToken: 'pk.eyJ1IjoiY2h1a3MwMDciLCJhIjoiY2psOW1iZ2x0MXRoczNycGJwdzhpOGZhbCJ9.z03GKFAu-scE70Z1JKagOg'
                    } )
                .addTo( mymap );

            // A simple scale control that shows the scale of the current center of screen in metric (m/km) and imperial (mi/ft) systems
            L.control.scale()
                .addTo( mymap );

            here = <%= ( nop !== undefined ? nop : 'undefined' ) %> ;
            
            if ( here !== undefined && here.length > 0 ) { // if the array is not empty...
            console.log( 'here.length', here, here.length );
                console.log( 'creating popup:', <%- nop %> );

                /* var popup = L.popup()
                  .setLatLng(<%- nop %>[0].properties.ppa_geodata.latlng)
                  .setContent('<p>Hello world!<br />This is a nice popup.</p>')
                  .openOn(mymap); */

                var local_pharmacyIcon = L.icon( {
                    iconUrl: 'https://icon.now.sh/local_pharmacy',
                    iconSize: [ 30, 30 ],
                    iconAnchor: [ 22, 94 ],
                    popupAnchor: [ -3, -76 ],
                    shadowUrl: null,
                    shadowSize: [ 68, 95 ],
                    shadowAnchor: [ 22, 94 ],
                    className: 'custom-icons' // no space between class name
                } );

                console.log( here[ 0 ], here[ 0 ].properties.ppa_geodata.latlng );
                // [here[0].properties.ppa_geodata.longitude, here[0].properties.ppa_geodata.latitude]
                /* L.marker(here.properties.ppa_geodata.latlng, { // using image is better, icon changes position on zoom change
                  icon: local_pharmacyIcon
                }).addTo(mymap).bindPopup("A print shop."); */
                L.marker( here[ 0 ].properties.ppa_geodata.latlng )
                    .addTo( mymap )
                    .bindPopup( here[ 0 ].properties.ppa_address + '<br> <i class="text-muted">' + here[ 0 ].properties.type_of_ppa + '</i> ' )
                    .openPopup();
                mymap.setView( here[ 0 ].properties.ppa_geodata.latlng );

                // to do show the get direction control when ever a ppa is shown from exteral clicks
                // if users leave where their marker is, show a control that can go back there
            }
        </script>

    </main>
</body>

</html>