<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Find PPAs, Accommodations, and other places</title><!-- Where? What? When? -->

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous">
    </script>

    <!-- Custom styles for this template -->
    <!-- <link href="jumbotron.css" rel="stylesheet"> -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>

    <!--Leaflet Routing Machine is easy.--------------- -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>


    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js" integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g==" crossorigin=""></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />

    <style>
        .section-one.item{
            /* background: linear-gradient(#93323200, #44151500), url('../logo/new/logo.png'); */

            /* background-size: 80%;
            background-image: url('../logo/new/logo.png');
            background-position: 50% 50%;
            background-repeat: no-repeat; */
            /* background: transparent url(pattern.png) repeat top left; */ /* #fffbfb6e url(pattern.png) repeat top left */

            /* filter: blur(8px);
            -webkit-filter: blur(8px);
            transform: scale(1.1); */
        }

        body {
            font-family: arial, helvetica;
        }

        div .hover:hover {
            background: rgb(236, 236, 236);
        }

        @media (min-width: 576px) {

            .collapse > .card-body {
                height: calc(100vh - 140px); /* formerly 65vh; *//*todo, find a defininte value for this (for all screen height or sth) so we don't make the browser calculate the value every time an accordion is expanded */
                overflow-y: scroll;
            }

            .parent {
                grid-template-columns: 2fr 3fr; /* formerly 2fr 3fr;  */
                padding: 5px;
            }

            .item:nth-child(1) {
                order: -1;
            }

            .item:nth-child(2) {
                order: 1;
            }

        }

        .parent {
            display: grid;

            /* justify-content: center; */

            grid-column-gap: 20px;
            height: 100vh;
        }

        .shw {
            max-width: 100%;
            height: auto;
        }

        @media (max-width: 576px) {
            .parent {
                grid-template-rows: 2fr auto; /* formerly 2fr 3fr;  */
            }

            .item:nth-child(1) {
                order: 1;
                padding: 5px;
            }

            .item:nth-child(2) {
                order: -1;
            }

            .wrapper {
                display: grid;
                grid-gap: 10px;
                grid-template-columns: 85%;
                grid-auto-flow: column;
                grid-auto-columns: 85%;
                width: -moz-available;
                overflow-x: scroll;
            }
        }
        #hide {
            display: none;
        }
    </style>
    <script async defer data-website-id="58dce5f5-c238-4e98-b2c6-e701c258f01d" src="https://using-umami.herokuapp.com/umami.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Corpers Online</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"> You can always go Home, safely</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Or Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign up, if you aren't a corper online</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">
        <div class="parent">
            <div class="section-one item">

                <% console.log('what is :::', theacc, typeof theacc); %>
                    <% if (theacc.length > 0){ %>
                        <div class="card flex-md-row mb-4 box-shadow h-md-250 border-success">

                                <% if ( theacc[0].acc_geodata != '' ) { %>
                                    <% console.log('l', theacc[0], theacc[0].acc_geodata); %>
                                    <% var acc_geo1 = JSON.parse(theacc[0].acc_geodata); %>
                                        <div data-lat="<%= acc_geo1.geometry.coordinates[1] %>" data-lng="<%= acc_geo1.geometry.coordinates[0] %>" ></div>
                                    <% } %>
                                <div class="card-body d-flex flex-column align-items-start hover">
                                                    
                                        <strong class="d-inline-block mb-2 text-primary mr-auto"><%= theacc[0].type %></strong>
                                        
                                    <h3 class="mb-0">
                                        <a class="text-dark" href="#!"><%= theacc[0].address %></a>
                                        <% if ( theacc[0].acc_geodata != '' ) { %>
                                            <span class="oi oi-map-marker" title="accommodation map marker" aria-hidden="true"></span>
                                        <% } %>
                                    </h3>
                                    <div class="mb-1 text-muted">with <%= theacc[0].rooms.replace('', 'and ').split(',').reverse().toString().replace(/,/g, ', ') %></div>
                                    <p class="card-text mb-auto"> &#8358;<%= theacc[0].price%> <%= theacc[0].rentrange %></p>
            
                                    <% if ( theacc[0].directions != ('' || null ) ) { %>
                                        <p class="card-text mb-auto font-italic font-weight-bold" style="display: none;" id="<%= new Date(theacc[0].input_time).getTime() %>"><%= theacc[0].directions %></p>
                                    <a href="#!" onclick="toggle_visibility('<%= new Date(theacc[0].input_time).getTime() %>')">See directions</a>
                                    <% } %>
                                    
                                </div>
                        </div>
                        
                    <%  } else if (theppa.length > 0){ %>
                        <div class="card flex-md-row mb-4 box-shadow h-md-250 border-success">

                                <% if ( theppa[0].ppa_geodata != '' ) { %>
                                    <% console.log( 'pppa', theppa[0].ppa_geodata  )  %>
                                    <% var ppa_geo1 = JSON.parse(theppa[0].ppa_geodata); %>
                                    
                                        <div data-lat="<%= ppa_geo1.latitude %>" data-lng="<%= ppa_geo1.longitude %>" data-accuracy="<%= ppa_geo1.accuracy %>" ></div>
                                    <% } %>

                                <div class="card-body d-flex flex-column align-items-start hover">
                                    <strong class="d-inline-block mb-2 text-primary"><%= theppa[0].type_of_ppa %></strong>
                                    <h3 class="mb-0">
                                        <a class="text-dark" href="#!"><%= theppa[0].name_of_ppa %></a>
                                        <% if ( theppa[0].ppa_geodata != '' ) { %>
                                            <span class="oi oi-map-marker" title="accommodation map marker" aria-hidden="true"></span>
                                        <% } %>
                                    </h3>
                                    <div class="mb-1 text-muted"><%= theppa[0].ppa_address %></div>
                                    <p class="card-text mb-auto"><%= theppa[0].ppa_directions %></p>
                                    <!-- <a href="#!">Continue reading</a> -->
                                </div>
                            </div>
                        
                    <%  }%>

                <div class="thelist" id="tl">
                    <div class="" id="accordionExample">
                            <% if ( ppas.length > 0 ) { %>
                            <div class="card">
                                    <div class="card-header" id="headingPPAs">
                                        <h5 class="mb-0"><%#= ( ppas.length > 1 ? 'true' : 'false' ) // what if one or all the sections are empty, then how do we handle which is expanded first %>
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsePPAs" aria-expanded="true" aria-controls="collapsePPAs">
                                                PPAs (<%= ppas.length %>)
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapsePPAs" class="collapse show" aria-labelledby="headingPPAs" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="wrapper"><!-- removed class 'd-none d-lg-block' from images -->
                                                <%# should we remove the selected ppa from the other ppas? %>
                                                <% if ( theppa.length > 0 ) { // %>
                                                    
                                                    <% var containsPPA = ppas.filter((value, index, array) => { return value.name_of_ppa == theppa[0].name_of_ppa && value.ppa_address == theppa[0].ppa_address }) ; %>
                                                    <% if ( containsPPA.length > 0 ) { // %>
                                                        <%#= "it's in it" %>
                                                    <% } %>

                                                <% } %>
                                                

                                            <% for (i = 0; i < ppas.length; i++) { %>
                                                <div class="card flex-md-row mb-4 box-shadow h-md-250">

                                                        <% if ( ppas[i].ppa_geodata != '' ) { %>
                                                            
                                                            <% var ppa_geo = JSON.parse(ppas[i].ppa_geodata); %>
                                                            <%#console.log( 'pppa', ppa_geo  )  %>
                                                                <div data-lat="<%= ppa_geo.latitude %>" data-lng="<%= ppa_geo.longitude %>" data-accuracy="<%= ppa_geo.accuracy %>" ></div>
                                                            <% } %>

                                                        <div class="card-body d-flex flex-column align-items-start hover">
                                                            <strong class="d-inline-block mb-2 text-primary"><%= ppas[i].type_of_ppa %></strong>
                                                            <h3 class="mb-0">
                                                                <a class="text-dark" href="#!"><%= ppas[i].name_of_ppa %></a>
                                                                <% if ( ppas[i].ppa_geodata != '' ) { %>
                                                                    <span class="oi oi-map-marker" title="accommodation map marker" aria-hidden="true"></span>
                                                                <% } %>
                                                            </h3>
                                                            <div class="mb-1 text-muted"><%= ppas[i].ppa_address %></div>
                                                            <p class="card-text mb-auto"><%= ppas[i].ppa_directions %></p>
                                                            <!-- <a href="#!">Continue reading</a> -->
                                                        </div>
                                                        <img id="hide" class="card-img-right flex-auto  shw" src="1000x1000.png" data-holder-rendered="true">
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } else { %>
                                <a>There's nothing for now. Check back later and you can also add a PPA.</a>
                            <% } %> %>
                            
                            <% if ( accommodations.length > 0 ) { // for when they open up a new chat and if they've never chatted before // i.e. this guy has no old chat AT ALL they possibly couldn't have chatted before %>
                            <div class="card">
                                    <div class="card-header" id="headingAccommodations">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAccommodations" aria-expanded="false" aria-controls="collapseAccommodations">
                                                Accommodations (<%= accommodations.length %>)
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseAccommodations" class="collapse" aria-labelledby="headingAccommodations" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="wrapper"><!-- removed class 'd-none d-lg-block' from images -->

                                    <% for (i = 0; i < accommodations.length; i++) { %>

                                        <%# '{"type":"Feature","properties":{"geo":{}},"geometry":{"type":"Point","coordinates":[3.3792057,6.5243793]}}' %>
                                        
                                                
                                        <div class="card flex-md-row mb-4 box-shadow h-md-250" >
                                                
                                            <% if ( accommodations[i].acc_geodata != '' ) { %>
                                                <% var acc_geo = JSON.parse(accommodations[i].acc_geodata); %>
                                                    <div data-lat="<%= acc_geo.geometry.coordinates[1] %>" data-lng="<%= acc_geo.geometry.coordinates[0] %>" ></div>
                                                <% } %>

                                            <div class="card-body d-flex flex-column align-items-start hover">
                                                    
                                                        <strong class="d-inline-block mb-2 text-primary mr-auto"><%= accommodations[i].type %></strong>
                                                        
                                                    <h3 class="mb-0">
                                                        <a class="text-dark" href="#!"><%= accommodations[i].address %></a>
                                                        <% if ( accommodations[i].acc_geodata != '' ) { %>
                                                            <span class="oi oi-map-marker" title="accommodation map marker" aria-hidden="true"></span>
                                                        <% } %>
                                                    </h3>
                                                    <div class="mb-1 text-muted">with <%= accommodations[i].rooms.replace('', 'and ').split(',').reverse().toString().replace(/,/g, ', ') %></div>
                                                    <p class="card-text mb-auto"> &#8358;<%= accommodations[i].price%> <%= accommodations[i].rentrange %></p>

                                                    <% if ( accommodations[i].directions != ('' || null ) ) { %>
                                                        <p class="card-text mb-auto font-italic font-weight-bold" style="display: none;" id="<%= new Date(accommodations[i].input_time).getTime() %>"><%= accommodations[i].directions %></p>
                                                    <a href="#!" onclick="toggle_visibility('<%= new Date(accommodations[i].input_time).getTime() %>')">See directions</a>
                                                    <% } %>
                                                    
                                                    
                                                </div>
                                                <!-- maybe uncomment later -->
                                                <!-- <img id="hide" class="card-img-right flex-auto  shw" src="1000x1000.png" data-holder-rendered="true"> -->
                                            </div>
                                        <% } %>

                                        <script>
                                            document.querySelectorAll( '.hover' )
                                                .forEach( item => {
                                                    item.addEventListener( "mouseenter", function( event ) {

                                                        // highlight the mouseenter target
                                                        event.target.style.color = "purple";
                                                        if ( event.target.previousElementSibling != null) {
                                                            
                                                            // console.log( 'kjj' , event.target.previousElementSibling.attributes['data-lat'].nodeValue);

                                                            // event.target.previousElementSibling.attributes['data-lat'].nodeValue // lat
                                                            // event.target.previousElementSibling.attributes['data-lng'].nodeValue // lng

                                                            // event.target.children[0].innerText; // accommodation type
                                                            // event.target.children[1].innerText; // location
                                                            // event.target.children[2].innerText; // rooms in it
                                                            // event.target.children[3].innerText; // rent price
                                                            // console.log(event.target.children[0].innerText,event.target.children[1].innerText,event.target.children[2].innerText,event.target.children[3].innerText);

                                                            var _acc_type = event.target.children[0].innerText;
                                                            var _acc_rooms = event.target.children[2].innerText;
                                                            var _acc_price = event.target.children[3].innerText;
                                                            // "latlng":{"lat":7.413782299999999,"lng":3.9155568}
                                                            var latlng = {"lat":event.target.previousElementSibling.attributes['data-lat'].nodeValue, "lng":event.target.previousElementSibling.attributes['data-lng'].nodeValue}
                                                            L.marker( latlng )
                                                                .addTo( mymap )
                                                                .bindPopup( _acc_type.bold() + '<br> <i class="text-muted">' + _acc_rooms + '</i> <br>' + ' at ' +  _acc_price )
                                                                .openPopup();
                                                            mymap.setView( latlng ); // we need to show corpers the accuracy of our marker, like show the circular range like we normally do in you're within
                                                        } 
                                                        

                                                        // reset the color after a short delay
                                                        setTimeout( function() {
                                                            event.target.style.color = "";
                                                        }, 500 );
                                                    }, false );
                                                } );
                                        </script>

                                        <script>
                                            function toggle_visibility(id) {
                                                var e = document.getElementById(id);
                                                if (e.style.display == 'block') {
                                                    e.style.display = 'none';
                                                    e.nextElementSibling.innerHTML = 'See directions';
                                                } else {
                                                    e.style.display = 'block';
                                                    e.nextElementSibling.innerHTML = 'Got it';
                                                    
                                                }
                                            }
                                        </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } else { %>
                                <a>There's nothing for now. If you have an accommodations, please consider posting it.</a>
                            <% } %> %>

                            
                            <% if ( places.length > 0 ) { // for when they open up a new chat and if they've never chatted before // i.e. this guy has no old chat AT ALL they possibly couldn't have chatted before %>
                            <div class="card">
                                    <div class="card-header" id="headingPlaces">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsePlaces" aria-expanded="false" aria-controls="collapseAccommodations">
                                                Other places
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapsePlaces" class="collapse" aria-labelledby="headingPlaces" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="wrapper"><!-- removed class 'd-none d-lg-block' from images -->

                                    <% for (i = 0; i < places.length; i++) { %>
                                        <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                                <div class="card-body d-flex flex-column align-items-start hover">
                                                    <strong class="d-inline-block mb-2 text-primary"><%= places[i].type_of_place %></strong>
                                                    <h3 class="mb-0">
                                                        <a class="text-dark" href="#!"><%= places[i].name %></a>
                                                    </h3>
                                                    <div class="mb-1 text-muted">with <%= places[i].address %></div>
                                                    <p class="card-text mb-auto"> <%= places[i].region %></p>
                                                    <a href="#!">Continue reading</a>
                                                </div>
                                                <img id="hide" class="card-img-right flex-auto  shw" src="1000x1000.png" data-holder-rendered="true">
                                            </div>
                                        <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>

                        <!-- <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Collapsible Group Item #1
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="wrapper">
                                        <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                            <div class="card-body d-flex flex-column align-items-start hover">
                                                <strong class="d-inline-block mb-2 text-primary">World</strong>
                                                <h3 class="mb-0">
                                                    <a class="text-dark" href="#!">Featured post</a>
                                                </h3>
                                                <div class="mb-1 text-muted">Nov 12</div>
                                                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="#!">Continue reading</a>
                                            </div>
                                            <img id="hide" class="card-img-right flex-auto  shw" src="1000x1000.png" data-holder-rendered="true">
                                        </div>
                                        <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                            <div class="card-body d-flex flex-column align-items-start hover">
                                                <strong class="d-inline-block mb-2 text-primary">World</strong>
                                                <h3 class="mb-0">
                                                    <a class="text-dark" href="#!">Featured post</a>
                                                </h3>
                                                <div class="mb-1 text-muted">Nov 12</div>
                                                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="#!">Continue reading</a>
                                            </div>
                                            <img id="hide" class="card-img-right flex-auto shw" alt="Thumbnail [200x250]" src="1564743287029.png" data-holder-rendered="true">
                                        </div>
                                        <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                            <div class="card-body d-flex flex-column align-items-start hover">
                                                <strong class="d-inline-block mb-2 text-primary">World</strong>
                                                <h3 class="mb-0">
                                                    <a class="text-dark" href="#!">Featured post</a>
                                                </h3>
                                                <div class="mb-1 text-muted">Nov 12</div>
                                                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="#!">Continue reading</a>
                                            </div>
                                            <img id="hide" class="card-img-right flex-auto  shw" alt="Thumbnail [200x250]" src="1564743087802.png" data-holder-rendered="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Collapsible Group Item #2
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Collapsible Group Item #3
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi therooms = = voluptatum aspernatur aliquam tempora qui esse, sit similique vitae officiis aut ex neque dicta. Quas commodi sit itaque doloremque neque.
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
    
            </div>
            <div class="section-two item" id="mapid">
    
            </div>
        </div>

        <script>
            var mymap = L.map( 'mapid', {
                    tilt: true,
                    zoomControl: false
                } )
                .setView( [ 5.5216578, 7.5066884 ], 16 );
                
                // https://api.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiY2h1a3MwMDciLCJhIjoiY2psOW1iZ2x0MXRoczNycGJwdzhpOGZhbCJ9.z03GKFAu-scE70Z1JKagOg
                var basemap = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '<a href="https://www.openstreetmap.org/">OpenStreetMap</a>, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox.streets',
                    accessToken: 'pk.eyJ1IjoiY2h1a3MwMDciLCJhIjoiY2psOW1iZ2x0MXRoczNycGJwdzhpOGZhbCJ9.z03GKFAu-scE70Z1JKagOg'
                })
                .addTo( mymap );

            // A simple scale control that shows the scale of the current center of screen in metric (m/km) and imperial (mi/ft) systems
            L.control.scale()
                .addTo( mymap );

            let here = <%- JSON.stringify(nop) %> ;
            
            if ( here.length > 0 ) { // if the array is not empty...
            console.log( 'here.length', here, here.length );
                console.log( 'creating popup:', here );

                /* var popup = L.popup()
                  .setLatLng(<%- nop %>[0].properties.ppa_geodata.latlng)
                  .setContent('<p>Hello world!<br />This is a nice popup.</p>')
                  .openOn(mymap); */

                var local_pharmacyIcon = L.icon( {
                    iconUrl: 'https://icon.now.sh/local_pharmacy',
                    iconSize: [ 30, 30 ],
                    iconAnchor: [ 22, 94 ],
                    popupAnchor: [ -3, -76 ],
                    shadowUrl: null,
                    shadowSize: [ 68, 95 ],
                    shadowAnchor: [ 22, 94 ],
                    className: 'custom-icons' // no space between class name
                } );

                if (here[ 0 ].properties.ppa_geodata) { // if it's ppa
                    var it = here[ 0 ].properties;
                    L.marker( (it.ppa_geodata.latlng   ) ) // name_of_ppa || price
                    .addTo( mymap )
                    .bindPopup( (it.ppa_address  ) + '<br> <i class="text-muted">' + (it.type_of_ppa  ) + '</i> ' )
                    .openPopup();
                mymap.setView( (it.ppa_geodata.latlng   ) );
                } else { // if it's an accommodation
                const sample_data = [{
                    "statecode":"TR/19A/1234",
                    "price":43,
                    "rooms":"Bedroom,Toilet",
                    "rentrange":"monthly",
                    "streetname":"43",
                    "media":"",
                    "tenure":"Sublease",
                    "input_time":"2019-10-19T21:14:19.000Z",
                    "expire":"2019-10-29T23:00:00.000Z",
                    "directions":"fdas",
                    "post_location":"TARABA, fdwadsdf",
                    "post_time":1571519658976,
                    "properties":{
                        "acc_geodata":{
                            "type":"Feature",
                            "properties":{
                                "geo":{
                                    "accuracy":510314
                                }
                            },
                            "geometry":{
                                "type":"Point",
                                "coordinates":[3.3792057,6.5243793]},
                                "latlng":{
                                    "lat":6.5243793,
                                    "lng":3.3792057
                                }
                            },
                            "address":"asd",
                            "type":"Feature",
                            "price":43
                        },
                        "geometry":{
                            "type":"Point",
                            "coordinates":[null,null]
                        }
                    }] ;
                    var it = here[ 0 ];
                    if (it.properties.acc_geodata) {
                        L.marker( (it.properties.acc_geodata.latlng  ) ) // name_of_ppa || price
                        .addTo( mymap )
                        .bindPopup( it.type + ` at ${it.price} ${it.rentrange} with ${it.rooms.replace('', 'and ').split(',').reverse().toString().replace(/,/g, ', ')}. <br>${(it.tenure == 'Sublease' ? 'A sublease, expires ' + new Date(it.expire).toDateString() : it.tenure )}` + " <br>Address: "+( it.properties.address ) + '<br> <i class="text-muted">' + ( it.directions ) + '</i> ' )
                        .openPopup();
                        
                        mymap.setView( ( it.properties.acc_geodata.latlng  ) );
                    }
                }

                // [here[0].properties.ppa_geodata.longitude, here[0].properties.ppa_geodata.latitude]
                /* L.marker(here.properties.ppa_geodata.latlng, { // using image is better, icon changes position on zoom change
                  icon: local_pharmacyIcon
                }).addTo(mymap).bindPopup("A print shop."); */

                /* L.marker( (it.acc_geodata.latlng  ) ) // name_of_ppa || price
                    .addTo( mymap )
                    .bindPopup( ( it.address ) + '<br> <i class="text-muted">' + ( it.type ) + '</i> ' )
                    .openPopup();
                mymap.setView( ( it.acc_geodata.latlng  ) ); */

                // to do show the get direction control when ever a ppa is shown from exteral clicks
                // if users leave where their marker is, show a control that can go back there
            }
        </script>

    </main>
</body>

</html>