<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Buy & sell household items. Find accommodation, PPAs.">
    <meta name="description" content="Provide real time info for other corpers. Information like household items for sale, accommodation space, directions to PPAs, SPAs.">
    <meta name="keywords" content="Corpers, Online, Accommodation, Rent, NYSC, Service Year, Ajuwaya, Nigeria, Lodge, Apartments, PPA, SPA, Office, Secretariat, LGA, Batch">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Corpers">
    <link rel="icon" type="image/png" href="/assets/images/logo32x32.png" />


    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Corpers Online">
    <meta itemprop="description" content="Buy & sell household items. Find accommodation, PPAs.">
    <meta itemprop="image" content="https://corpers.online/assets/images/rule28.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://corpers.online">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Find and acquire apartments, PPAs and places. Buy eg. household goods from, and sell, to corpers.">
    <meta property="og:site_name" content="Corpers Online"> <!--  Non-Essential, But Recommended -->
    <meta property="og:description" content="Buy & sell household items. Find accommodation, PPAs."><!-- Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria -->
    <meta property="og:image:secure_url" itemprop="image" content="https://corpers.online/assets/images/rule28.png">
    <meta property="og:image" itemprop="image" content="https://corpers.online/assets/images/rule28.png">

    <!--  Non-Essential, But Required for Analytics -->

    <!-- <meta property="fb:app_id" content="your_app_id" /> -->
    <meta name="twitter:site" content="@OnlineCorpers">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Find and acquire apartments, PPAs, and NYSC hangouts. Buy household goods from, and sell, to corpers.">
    <meta name="twitter:description" content="Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria">
    <meta name="twitter:image" content="https://corpers.online/assets/images/rule28.png">

    <meta name="twitter:image:alt" content="Corpers helping other corpers">

    <title>Corpers Online</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous">
    </script>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>

    <!--Leaflet Routing Machine is easy.--------------- -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>


    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js" integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g==" crossorigin=""></script>

    <style>
        #mapid {
            height: 200px;
            /* phones should be 140px */
        }

        .os {
            /* <!-- style="display: -webkit-inline-box; overflow-x: scroll;" --> <!-- to make it scroll and overflow --> */
            display: -webkit-inline-box;
            /* or -webkit-box */
            display: ruby;
            overflow-x: scroll;
        }

        .os::-webkit-scrollbar {
            /* 1 */
            width: 12px;
        }

        .os::-webkit-scrollbar-button {
            /* 2 */
        }

        .os::-webkit-scrollbar-track {
            /* 3 */
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }

        .os::-webkit-scrollbar-track-piece {
            /* 4 */
        }

        .os::-webkit-scrollbar-thumb:vertical {
            /* 5 */
            /* border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */


            border-style: solid;
            border-color: transparent;
            border-width: 4px;
            background-color: #262d38;
            /* formerly #dadce0 */
            border-radius: 8px;
            box-shadow: none
        }

        .os::-webkit-scrollbar-corner {
            /* 6 */
        }

        .os::-webkit-resizer {
            /* 7 */
        }


        .os::-webkit-scrollbar-thumb:vertical:hover {
            background-color: #80868b
        }

        .os::-webkit-scrollbar-thumb:vertical:active {
            background-color: #5f6368
        }

        .truncate-overflow { /* https://dev.to/shanshah/truncate-text-with-css-the-possible-ways-1p4o */
            overflow: hidden;
            max-height: 8rem;
            -webkit-box-orient: vertical;
            display: block;
            display: -webkit-box;
            overflow: hidden !important;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
        }
    </style>

    <style>
        .box {
            background-color: #444;
            color: #fff;
            border-radius: 5px;
            padding: 20px;
            font-size: 150%;
        }

        .box:nth-child(even) {
            background-color: #ccc;
            color: #000;
        }

        .wrapper {
            /* width: 600px; */
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 45%;
            grid-auto-flow: column;
            grid-auto-columns: 45%;
        }
    </style>
    
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Corpers Online</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/login">Log in</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/signup">Sign up</a>
                    </li>
                  </ul>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#!">Action</a>
                        <a class="dropdown-item" href="#!">Another action</a>
                        <a class="dropdown-item" href="#!">Something else here</a>
                    </div>
                </li> -->
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>

    <main role="main">

        <div class="">
            <!-- <div class="" id="mapid">
                
            </div> -->

          <!-- <p><a class="btn btn-primary btn-lg" href="#!" role="button">Learn more &raquo;</a></p> -->
        </div>

        <script>
            /* let mymap = L.map( 'mapid', {
                    tilt: true,
                    zoomControl: false
                } )
                .setView( [ 5.5216578, 7.5066884 ], 16 );


            let basemap = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '<a href="https://www.openstreetmap.org/">OpenStreetMap</a>, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoiY2h1a3MwMDciLCJhIjoiY2psOW1iZ2x0MXRoczNycGJwdzhpOGZhbCJ9.z03GKFAu-scE70Z1JKagOg'
            })
            .addTo( mymap );

            L.control.scale()
                .addTo( mymap ); */
        </script>

        <div class="container mt-4">

            <% let categories = Array.from(new Set(result.data.sales.map(item => item.itemname))); %>
            <% if(categories.length > 0) { %>
               <% for (let index = 0; index < categories.length; index++) { %>
                <% const category = categories[index]; %>

                    <%  let items = result.data.sales.filter(item => item.itemname === category) %>
                    <h2 class="mt-4"><%= category %> &#183; (<%= items.length %>)</h2>
                    
                    <div class="wrapper" style="overflow-x: scroll;">

                    <%  for (let index = 0; index < items.length; index++) { %>
                        <% const element = items[index]; %>
                        
                        <div class="card flex-md-row mb-4 box-shadow h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                                <strong class="d-inline-block mb-2 text-primary"><%= (element.itemname ? element.itemname : 'Unnamed items' ) %></strong>
                                <h3 class="mb-0">
                                    <a class="text-dark" href="#!">&#8358; <%= element.price %></a>
                                </h3>
                                <div class="mb-1 text-muted"><%= element.statecode %> selling</div>
                                <p class="card-text mb-auto truncate-overflow">
                                    <%= element.text %>
                                </p>
                                <a href="/login">Login to buy</a>
                            </div>
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Picture of <%= element.itemname %>" style="width: 200px; height: 250px;" src="<%= ( element.media ? 'https://drive.google.com/uc?id=' + element.media.split(',')[0] : 'holder.js/200x250?theme=gray&text=No%20image%20available' ) %>" data-holder-rendered="true">
                        </div>
                    <%  } %>

                    </div>
                <%  } %>

                <% } else {%>
                    <h2>No item on sale yet! Wanna sell something? <a href="/login">Login.</a></h2>
                    <% } %>
            
            <!-- a heading and ... -->
            <!-- <h2>Accommodations</h2> -->
            
            <!-- the content -->
            <!-- <div>
                <div class="row mb-2 os">
                    <div class="col-md-6 w-75">
                        <div class="card flex-md-row mb-4 box-shadow h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                                <strong class="d-inline-block mb-2 text-primary">World</strong>
                                <h3 class="mb-0">
                                    <a class="text-dark" href="#!">Featured post</a>
                                </h3>
                                <div class="mb-1 text-muted">Nov 12</div>
                                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                                    additional content.</p>
                                <a href="#!">Continue reading</a>
                            </div>
                            <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16a1e6ceebf%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16a1e6ceebf%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.203125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                        </div>
                    </div>
                    <div class="col-md-6 w-75">
                        <div class="card flex-md-row mb-4 box-shadow h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                                <strong class="d-inline-block mb-2 text-success">Design</strong>
                                <h3 class="mb-0">
                                    <a class="text-dark" href="#!">Post title</a>
                                </h3>
                                <div class="mb-1 text-muted">Nov 11</div>
                                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                                    additional content.</p>
                                <a href="#!">Continue reading</a>
                            </div>
                            <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16a1e6ceec2%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16a1e6ceec2%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.203125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 200px; height: 250px;">
                        </div>
                    </div>
                </div>
            </div>
 -->


        
        </div> <!-- /container -->

    </main>

    <footer class="container">
        <p>&copy; <%= result.current_year %> Corpers Online
        </p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.7/holder.min.js" integrity="sha512-O6R6IBONpEcZVYJAmSC+20vdsM07uFuGjFf0n/Zthm8sOFW+lAq/OK1WOL8vk93GBDxtMIy6ocbj6lduyeLuqQ==" crossorigin="anonymous"></script>

</body>

</html>