<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Buy & sell household items. Find accommodation, PPAs.">
    <meta name="description" content="Provide real time info for other corpers. Information like household items for sale, accommodation space, directions to PPAs, SPAs.">
    <meta name="keywords" content="Corpers, Online, Accommodation, Rent, NYSC, Service Year, Ajuwaya, Nigeria, Lodge, Apartments, PPA, SPA, Office, Secretariat, LGA, Batch">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Corpers">
    <link rel="icon" href="assets/images/1/favicon.ico" type="image/x-icon">


    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Corpers Online">
    <meta itemprop="description" content="Buy & sell household items. Find accommodation, PPAs.">
    <meta itemprop="image" content="https://corpers.online/assets/images/rule28.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://corpers.online">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Find and acquire apartments, PPAs and places. Buy eg. household goods from, and sell, to corpers.">
    <meta property="og:site_name" content="Corpers Online"> <!--  Non-Essential, But Recommended -->
    <meta property="og:description" content="Buy & sell household items. Find accommodation, PPAs."><!-- Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria -->
    <meta property="og:image:secure_url" itemprop="image" content="https://corpers.online/assets/images/rule28.png">
    <meta property="og:image" itemprop="image" content="https://corpers.online/assets/images/rule28.png">

    <!--  Non-Essential, But Required for Analytics -->

    <!-- <meta property="fb:app_id" content="your_app_id" /> -->
    <meta name="twitter:site" content="@OnlineCorpers">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Find and acquire apartments, PPAs, and NYSC hangouts. Buy household goods from, and sell, to corpers.">
    <meta name="twitter:description" content="Safely find and acquire apartments from outgoing corpers, BUY household goods from Corpers, SELL to Corpers, find PPAs, SPAs and places in general, routes, basically everywhere in Nigeria">
    <meta name="twitter:image" content="https://corpers.online/assets/images/rule28.png">

    <meta name="twitter:image:alt" content="Corpers helping other corpers">

    <title>Corpers Online &middot; Search</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>

    <!--Leaflet Routing Machine is easy.--------------- -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>


    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js" integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g==" crossorigin=""></script>

    <style>

        .os {
            /* <!-- style="display: -webkit-inline-box; overflow-x: scroll;" --> <!-- to make it scroll and overflow --> */
            display: -webkit-inline-box;
            /* or -webkit-box */
            display: ruby;
            overflow-x: scroll;
        }

        .os::-webkit-scrollbar {
            /* 1 */
            width: 12px;
        }

        .os::-webkit-scrollbar-button {
            /* 2 */
        }

        .os::-webkit-scrollbar-track {
            /* 3 */
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }

        .os::-webkit-scrollbar-track-piece {
            /* 4 */
        }

        .os::-webkit-scrollbar-thumb:vertical {
            /* 5 */
            /* border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */


            border-style: solid;
            border-color: transparent;
            border-width: 4px;
            background-color: #262d38;
            /* formerly #dadce0 */
            border-radius: 8px;
            box-shadow: none
        }

        .os::-webkit-scrollbar-corner {
            /* 6 */
        }

        .os::-webkit-resizer {
            /* 7 */
        }


        .os::-webkit-scrollbar-thumb:vertical:hover {
            background-color: #80868b
        }

        .os::-webkit-scrollbar-thumb:vertical:active {
            background-color: #5f6368
        }

        .truncate-overflow { /* https://dev.to/shanshah/truncate-text-with-css-the-possible-ways-1p4o */
            overflow: hidden;
            max-height: 8rem;
            -webkit-box-orient: vertical;
            display: block;
            display: -webkit-box;
            overflow: hidden !important;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
        }
    </style>

    <style>
        .box {
            background-color: #444;
            color: #fff;
            border-radius: 5px;
            padding: 20px;
            font-size: 150%;
        }

        .box:nth-child(even) {
            background-color: #ccc;
            color: #000;
        }

        .wrapper {
            /* width: 600px; */
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 45%;
            grid-auto-flow: column;
            grid-auto-columns: 45%;
        }

        .hit-item {
            border-color: green;
            border-width: medium;
            max-width: fit-content;
        }

        .nav.nav-tabs.nav-justified.container {
            padding-left: 15px;
        }
    </style>
    <script async defer data-website-id="58dce5f5-c238-4e98-b2c6-e701c258f01d" src="https://using-umami.herokuapp.com/umami.js" data-domains="corpers.online,www.corpers.online"></script>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Corpers Online</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <ul class="navbar-nav mr-auto">
                    <!-- if they're logged in, instead of showing login/signup ...ask them if they want to be notified for new posts relating to what they've just searched ...increase notifications ...also, should we put a search bar here so even people that aren't corpers can look for stuff-->
                    
                    <% if(corper) { %>
                        <% %>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Log in</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/signup">Sign up</a>
                          </li>
                    <% }  %>
                  </ul>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#!">Action</a>
                        <a class="dropdown-item" href="#!">Another action</a>
                        <a class="dropdown-item" href="#!">Something else here</a>
                    </div>
                </li> -->
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>


    <nav class="mt-2">
        <div class="nav nav-tabs nav-justified container" id="nav-tab" role="tablist">
          <a class="nav-item nav-link <%= _sale ? ' active ' : _accommodation == _location_ppa == _sale == null ? ' active' : '' %>" id="nav-sales-tab" data-toggle="tab" href="#nav-sales" role="tab" aria-controls="nav-sales" aria-selected="<%= _sale ? 'true' : _accommodation == _location_ppa == _sale == null ? 'true' : 'false' %>">Sales &middot; <%= _sales.length %></a>
          <a class="nav-item nav-link <%= _location_ppa ? ' active' : '' %>" id="nav-ppas-tab" data-toggle="tab" href="#nav-ppas" role="tab" aria-controls="nav-ppas" aria-selected="<%= _location_ppa ? 'true' : 'false' %>">PPAs &middot; <%= _location_ppas.length %></a>
          <a class="nav-item nav-link <%= _accommodation ? ' active ' : '' %>" id="nav-acc-tab" data-toggle="tab" href="#nav-acc" role="tab" aria-controls="nav-accommodations" aria-selected="<%= _accommodation ? 'true' : 'false' %>"">Accommodations &middot; <%= _accommodations.length %></a>
        </div>
      </nav>

    <main role="main">

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade <%= _sale ? ' show active' : _accommodation == _location_ppa == _sale == null ? ' show active' : '' %>" id="nav-sales" role="tabpanel" aria-labelledby="nav-sales-tab">
                
                <% if (_sale) {%>
                    <div class="container mt-4">
                        <div class="card mb-4 flex-md-row box-shadow h-md-250 hit-item" style="flex-direction: row;">
                            <div class="card-body align-items-start">
                                <strong class="d-inline-block mb-2 text-primary"><%=  _sale.itemname  %></strong>
                                <h3 class="mb-0">
                                    <a class="text-dark" href="#!">&#8358; <%= _sale.price %></a>
                                </h3>
                                <div class="mb-1 text-muted"><%= _sale.statecode %> selling</div>
                                <p class="card-text mb-auto truncate-overflow">
                                    <%- (_sale.text.trim() === '' ? "<i>No description available</i>" : _sale.text.trim() ) %>
                                </p>
                                <% if(corper) { %>
                                    <a href="<%= `/chat?s=${corper.statecode}&posts[type]=sale&posts[who]=${_sale.statecode}&posts[when]=${(_sale.post_time || Date.parse(_sale.input_time))}` %>">Chat to buy</a>
                                <% } else { %>
                                    <a href="/login">Login to buy</a>
                                <% }  %>
                            </div>
                            <img class="card-img-right flex-auto" alt="Picture of <%= _sale.itemname %>" style="width: auto; height: 250px;" src="<%= ( _sale.media ? 'https://drive.google.com/uc?id=' + _sale.media.split(',')[0] : 'holder.js/200x250?theme=gray&text=No%20image%20available' ) %>" data-holder-rendered="true">
                        </div>
                    </div>
                <% } %>
                <div class="container mt-4">

                    <%# hot fix %>
                    <% let __found_sale = _sales.find((_s) => _s.id == _sale.id); %>
                    <% if (__found_sale) { %>
                    <%# _sales.splice(__found_sale, 1); // not using this because, a "nothing yet" message shows for only one item, might use later when there's multiple items %>
                    <% } %>
        
                    <% let categories = Array.from(new Set(_sales.map(item => item.itemname))); %>
                    <% if(categories.length > 0) { %>
                       <% for (let index = 0; index < categories.length; index++) { %>

                        <% const category = categories[index]; %>
        
                            <%  let items = _sales.filter(item => item.itemname === category) %>
                            <h2 class="mt-4"><%= category %> &#183; (<%= items.length %>)</h2>
                            
                            <div class="wrapper" style="overflow-x: scroll;">
        
                            <%  for (let index = 0; index < items.length; index++) { %>
                                <% const element = items[index]; %>

                                <%# hot fix for skipping found accommodation among the whole list of accommodation %>
                                <% if(_sale.id == element.id) { %>
                                <%    continue; %>
                                <% } %>
                                
                                <div class="card mb-4 flex-md-row flex-md-row box-shadow h-md-250">
                                    <div class="card-body align-items-start">
                                        <strong class="d-inline-block mb-2 text-primary"><%= (element.itemname ? element.itemname : 'Unnamed items' ) %></strong>
                                        <h3 class="mb-0">
                                            <a class="text-dark" href="#!">&#8358; <%= element.price %></a>
                                        </h3>
                                        <div class="mb-1 text-muted"><%= element.statecode %> selling</div>
                                        <p class="card-text mb-auto truncate-overflow">
                                            <%= element.text %>
                                        </p>
                                        <% if (corper) { %>
                                            <a href="<%= `/chat?s=${corper.statecode}&posts[type]=sale&posts[who]=${element.statecode}&posts[when]=${(element.post_time || Date.parse(element.input_time))}` %>">Chat to buy</a>
                                        <% } else { %>
                                            <a href="/login">Login to buy</a>
                                        <% }  %>
                                    </div>
                                    <img class="card-img-right flex-auto d-none d-lg-block" alt="Picture of <%= element.itemname %>" style="width: 200px; height: 250px;" src="<%= ( element.media ? 'https://drive.google.com/uc?id=' + element.media.split(',')[0] : 'holder.js/200x250?theme=gray&text=No%20image%20available' ) %>" data-holder-rendered="true">
                                </div>
                            <%  } %>
        
                            </div>
                        <%  } %>
        
                        <% } else {%>
                            <h2>No item on sale yet! Wanna sell something? <a href="/login">Login.</a></h2>
                            <% } %>
                    
                   
                </div> 
        
            </div>
            <div class="tab-pane fade <%= _location_ppa ? ' show active' : '' %>" id="nav-ppas" role="tabpanel" aria-labelledby="nav-ppas-tab">
                <div class="container mt-4">
                    <div class="card-columns">
                       
                                
                    </div>
                </div>
                <div class="container">
                    <div class="section-one item">
        
                            <%# console.log('what is _location_ppa', _location_ppa.length); %>
                            <% if (_location_ppa){ %>
                                <div class="card mb-4 box-shadow h-md-250 border-success">
        
                                        <% if ( _location_ppa[0].geoData != '' ) { %>
                                            <% console.log( 'pppa', _location_ppa[0].geoData  )  %>
                                            <% var ppa_geo1 = JSON.parse(_location_ppa[0].geoData); %>
                                            
                                                <div data-lat="<%= ppa_geo1.latitude %>" data-lng="<%= ppa_geo1.longitude %>" data-accuracy="<%= ppa_geo1.accuracy %>" ></div>
                                            <% } %>
        
                                        <div class="card-body align-items-start hover">
                                            <strong class="d-inline-block mb-2 text-primary"><%= _location_ppa[0].type_of_ppa %></strong>
                                            <h3 class="mb-0">
                                                <a class="text-dark" href="#!"><%= _location_ppa[0].name_of_ppa %></a>
                                                <% if ( _location_ppa[0].geoData != '' ) { %>
                                                    <span class="oi oi-map-marker" title="accommodation map marker" aria-hidden="true"></span>
                                                <% } %>
                                            </h3>
                                            <div class="mb-1 text-muted"><%= _location_ppa[0].Location.address %></div>
                                            <p class="card-text mb-auto"><%= _location_ppa[0].Location.directions %></p>
                                            <!-- <a href="#!">Continue reading</a> -->
                                        </div>
                                    </div>
                                
                            <%  }%>
        
                        <div class="thelist" id="tl">
                                     
                            <% if (  _location_ppas.length > 0 ) { %>
                                    
                                    <% for (i = 0; i < _location_ppas.length; i++) { %>

                                        
                                        <% if (_location_ppa && _location_ppa.id == _location_ppas[i].id ) { %>
                                            <% continue; %>
                                        <% } %>
                                        <div class="card mb-4 box-shadow h-md-250">

                                                <% if ( _location_ppas[i].geoData && _location_ppas[i].geoData != '' ) { %>
                                                    
                                                    <% let ppa_geo = JSON.parse(_location_ppas[i].geoData); %>
                                                    <%# console.log( 'pppa', ppa_geo  )  %>
                                                        <div data-lat="<%= ppa_geo.latitude %>" data-lng="<%= ppa_geo.longitude %>" data-accuracy="<%= ppa_geo.accuracy %>" ></div>
                                                <% } %>

                                                <div class="card-body align-items-start hover">
                                                    <strong class="d-inline-block mb-2 text-primary"><%= _location_ppas[i].type_of_ppa %></strong>
                                                    <h3 class="mb-0">
                                                        <% if ( _location_ppas[i].PPA && _location_ppas[i].PPA.name != null ) { %>
                                                            <a class="text-dark" href="#!"><%= _location_ppas[i].PPA.name %></a>
                                                        <% } %>
                                                        
                                                        <% if ( _location_ppas[i].geoData && _location_ppas[i].geoData != null ) { %>
                                                            <span class="oi oi-map-marker" title="accommodation map marker" aria-hidden="true"></span>
                                                        <% } %>
                                                    </h3>
                                                    <div class="mb-1 text-muted"><%= _location_ppas[i].address %></div>
                                                    <p class="card-text mb-auto"><%= _location_ppas[i].directions %></p>
                                                    <!-- <a href="#!">Continue reading</a> -->
                                                </div>
                                            </div>
                                        <% } %>
                                    <% } else { %>
                                        <a>There's nothing for now. Check back later and you can also add your PPA.</a>
                                    <% } %> %>
                               
                        </div>
            
                    </div>
                </div>
        
            </div>
            <div class="tab-pane fade <%= _accommodation ? ' show active' : '' %>" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
                <div class="container mt-4">

                        <%# console.log('what is _accommodation', _accommodation, _accommodation.length, accommodations); %>
                            <% if (_accommodation){ %>
                                <div class="card mb-4 box-shadow h-md-250 border-success">
        
                                        <% if ( _accommodation.Location.geoData && _accommodation.Location.geoData != null ) { %>
                                            <% console.log('l', _accommodation, _accommodation.Location.geoData); %>
                                            <% var acc_geo1 = JSON.parse(_accommodation.Location.geoData); %>
                                                <div data-lat="<%= acc_geo1.geometry.coordinates[1] %>" data-lng="<%= acc_geo1.geometry.coordinates[0] %>" ></div>
                                            <% } %>
                                        <div class="card-body align-items-start hover">
                                                            
                                                <strong class="d-inline-block mb-2 text-primary mr-auto"><%= _accommodation.type %></strong>
                                                
                                            <h3 class="mb-0">
                                                <a class="text-dark" href="#!"><%= _accommodation.Location.address %></a>
                                                <% if ( _accommodation.Location.geoData && _accommodation.Location.geoData != null ) { %>
                                                    <span class="oi oi-map-marker" title="accommodation map marker" aria-hidden="true"></span>
                                                <% } %>
                                            </h3>
                                            <div class="mb-1 text-muted">with <%= _accommodation.availableRooms.join().replace('', 'and ').split(',').reverse().toString().replace(/,/g, ', ') %></div>
                                            <p class="card-text mb-auto"> &#8358;<%= (_accommodation.rent ? _accommodation._rent : _accommodation._roommateRent) %> <%= _accommodation.rentRange %></p>
                    
                                            <% if ( _accommodation.Location.directions != null  ) { %>
                                                <p class="card-text mb-auto font-italic font-weight-bold" style="display: none;" id="<%= new Date(_accommodation.createdAt).getTime() %>"><%= _accommodation.Location.directions %></p>
                                                <a href="#!" onclick="toggle_visibility('<%= new Date(_accommodation.createdAt).getTime() %>')">See directions</a>
                                            <% } %>
                                                <br />
                                            <% if (corper) { %>
                                                <a href="<%= `/chat?s=${corper.statecode}&posts[type]=accommodation&posts[who]=${_accommodation.statecode}&posts[when]=${_accommodation.createdAt}` %>">Chat about rent</a>
                                            <% } else { %>
                                                <a href="/login">Login to rent</a>
                                            <% }  %>
                                            
                                        </div>
                                </div>
                                
                            <%  }  %>

                    <% if ( _accommodations.length > 0 ) { %>
                <% for (i = 0; i < _accommodations.length; i++) { %>

                    <%# hot fix for skipping found accommodation among the whole list of accommodation %>
                    <% if(_accommodation && _accommodations[i].id == _accommodation.id) { %>
                    <%    continue; %>
                    <% } %>
        
                    <div class="card mb-4 box-shadow h-md-250" >
                            
                        <% if ( _accommodations[i].Location.geoData && _accommodations[i].Location.geoData != '' ) { %>
                            <% var acc_geo = JSON.parse(_accommodations[i].Location.geoData); %>
                                <div data-lat="<%= acc_geo.geometry.coordinates[1] %>" data-lng="<%= acc_geo.geometry.coordinates[0] %>" ></div>
                            <% } %>

                        <div class="card-body align-items-start hover">
                                
                                    <strong class="d-inline-block mb-2 text-primary mr-auto"><%= _accommodations[i].accommodationType %></strong>
                                    
                                <h3 class="mb-0">
                                    <a class="text-dark" href="#!"><%= _accommodations[i].Location.address %></a>

                                    <% if ( _accommodations[i].Location.geoData && _accommodations[i].Location.geoData != '' ) { %>
                                        <span class="oi oi-map-marker" title="accommodation map marker" aria-hidden="true"></span>
                                    <% } %>
                                </h3>
                                <div class="mb-1 text-muted">with <%= _accommodations[i].availableRooms.join().replace('', 'and ').split(',').reverse().toString().replace(/,/g, ', ') %></div>
                                <p class="card-text mb-auto"> &#8358;<%= (_accommodations[i].rent ? _accommodations[i]._rent : _accommodations[i]._roommateRent) %> <%= _accommodations[i].rentRange %></p>

                                <% if ( _accommodations[i].Location.directions != null ) { %>
                                    <p class="card-text mb-auto font-italic font-weight-bold" style="display: none;" id="<%= new Date(_accommodations[i].createdAt).getTime() %>"><%= _accommodations[i].Location.directions %></p>
                                    <a href="#!" onclick="toggle_visibility('<%= new Date(_accommodations[i].createdAt).getTime() %>')">See directions</a>
                                <% } %>
                                    <br />
                                <% if (corper) { %>
                                    <a href="<%= `/chat?s=${corper.statecode}&posts[type]=accommodation&posts[who]=${_accommodations[i].statecode}&posts[when]=${(_accommodations[i].post_time || Date.parse(_accommodations[i].input_time))}` %>">Chat to rent</a>
                                <% } else { %>
                                    <a href="/login">Login to rent</a>
                                <% }  %>
                                
                                
                            </div>
                        </div>
                    <% } %>

                    <script>
                        function toggle_visibility(id) {
                            var e = document.getElementById(id);
                            if (e.style.display == 'block') {
                                e.style.display = 'none';
                                e.nextElementSibling.innerHTML = 'See directions';
                            } else {
                                e.style.display = 'block';
                                e.nextElementSibling.innerHTML = 'Got it';
                                
                            }
                        }
                    </script>
                <% } else { %>
                    <span>There's nothing for now. If you have an accommodations, please consider posting it.</span>
                <% } %> %>
                </div>
            </div>

        </div>
    </main>

    <footer class="container">
        <p>&copy; <%= current_year %> Corpers Online
        </p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.7/holder.min.js" integrity="sha512-O6R6IBONpEcZVYJAmSC+20vdsM07uFuGjFf0n/Zthm8sOFW+lAq/OK1WOL8vk93GBDxtMIy6ocbj6lduyeLuqQ==" crossorigin="anonymous"></script>

</body>

</html>